<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kermeta.spem.activityautomationmanager.activityautomationregistry">
      <information
            action="commitSeveralProjectsSVN"
            interface="org.kermeta.spem.activityautomation.eclipse.commitseveralprojectssvn.CommitSeveralProjectsSVNActivityAutomation">
      </information>
   </extension>

</plugin>
